.con{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  .center {
    width: 800px;
    display: flex;
    flex-direction: row;
    .left {
/*      display: flex;
      flex-direction: row;
      .header {
        .options {
          width: 80px;
        }

        background: #e5efff;
        width: 300px;
        height: 50px;
        display: flex;
      }

      .cont {
        display: flex;
        flex-direction: column;

        .small {
          background: #cb2525;
          width: 700px;
          height: 228px;

        }
      }*/
    }
  }
}

